
<a href="#" id="showGallery">
  <</a>
    <div id="gallery">

      <div class="scrollbox">
        {{#each files}}
          <img src="/img/photos/{{this}}" />
        {{/each}}
        <!-- <img src="/img/slides/Glass-Lion.jpg" />
        <img src="/img/slides/CityScape8FinalPSd.jpg" />
        <img src="/img/slides/mayan2.jpg" />
        <img src="/img/slides/observer.jpg" />
        <img src="/img/slides/ted.jpg" />
        <img src="/img/slides/Time4.jpg" />
        <img src="/img/slides/UFO.jpg" /> -->
      </div>

    </div>
    <div class="container-fluid perspective effect-laydown">

      <div id="container2">

        <a href="#" id="showMenu" class="em-height glyphicons show_lines"></a>


        <div class="wrapper">

          <div class="row">
            <div class="col-sm-6">
            </div>
            <div class="col-sm-6">
            </div>
          </div>
          <div class="row">


            <div class="col-sm-6">


            </div>

          </div>




        </div>
      </div>
      <nav class="outer-nav top horizontal">
        <a href="/">Home</a>
        <a href="/reference">Reference Material</a>
        <a href="/photos">photos</a>
      </nav>



    </div>
